{% extends "layout.html" %} {% load static %}
 {% block title %}All Blog Posts{% endblock%} 
    {% block content %}
<section class=" flex justify-center items-center  ">
  <div class="grid grid-cols-1 gap-3 p-5 pb-8  justify-center items-center  sm:grid-cols-2 min-w-full">
      {% for post in posts %}
      <a href="{% url "home" %}" class=" bg-slate-100 h-[200px] rounded-lg flex flex-col items-center justify-center">
        <h1 class="font-bold p-5 text-xl">{{post.title}}</h1>
        <p>{{post.partial_intro}}</p>
      </a>
      {% endfor %}
  </div>
</section>
{% endblock %}
